{
  "main": {
    "apiKey": "",
    "applicationTitle": "Jellyseerr",
    "applicationUrl": "",
    "csrfProtection": false,
    "cacheImages": false,
    "defaultPermissions": 2,
    "defaultQuotas": {},
    "hideAvailable": false,
    "localLogin": true,
    "newPlexLogin": true,
    "region": "",
    "originalLanguage": "",
    "trustProxy": false,
    "databaseType": "postgres",
    "databaseHost": "postgres",
    "databasePort": 5432,
    "databaseName": "jellyseerr",
    "databaseUsername": "{{ service_users.jellyseerr.db_user }}",
    "databasePassword": "{{ service_users.jellyseerr.db_password }}"
  },
  "plex": {
    "name": "",
    "machineId": "",
    "ip": "",
    "port": 32400,
    "useSsl": false,
    "libraries": [],
    "webAppUrl": ""
  },
  "radarr": [],
  "sonarr": [],
  "jellyfin": [],
  "notifications": {
    "agents": {
      "email": {
        "enabled": false,
        "types": 0,
        "options": {}
      },
      "discord": {
        "enabled": false,
        "types": 0,
        "options": {}
      },
      "slack": {
        "enabled": false,
        "types": 0,
        "options": {}
      },
      "telegram": {
        "enabled": false,
        "types": 0,
        "options": {}
      },
      "pushbullet": {
        "enabled": false,
        "types": 0,
        "options": {}
      },
      "pushover": {
        "enabled": false,
        "types": 0,
        "options": {}
      },
      "webhook": {
        "enabled": false,
        "types": 0,
        "options": {}
      },
      "webpush": {
        "enabled": false,
        "types": 0,
        "options": {}
      }
    }
  }
}
