<Config>
  <LogLevel>info</LogLevel>
  <UpdateMechanism>Docker</UpdateMechanism>
  <Branch>main</Branch>
  <BindAddress>*</BindAddress>
  <Port>8989</Port>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>False</LaunchBrowser>
  <AuthenticationMethod>None</AuthenticationMethod>
  <AnalyticsEnabled>False</AnalyticsEnabled>
  <LogSizeLimit>1</LogSizeLimit>
  <LogRotate>50</LogRotate>
  <PostgresUser>{{ service_users.sonarr.db_user }}</PostgresUser>
  <PostgresPassword>{{ service_users.sonarr.db_password }}</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>postgres</PostgresHost>
  <PostgresMainDb>sonarr-main</PostgresMainDb>
  <PostgresLogDb>sonarr-log</PostgresLogDb>
</Config>
