services:
  meshcentral:
    image: {{ meshcentral_image }}
    container_name: meshcentral
    restart: unless-stopped
    ports:
      - "443:443"
    environment:
      - TZ={{ timezone }}
      - NODE_ENV=production
    volumes:
      - {{ control_base_dir }}/meshcentral/data:/opt/meshcentral/meshcentral-data
      - {{ control_base_dir }}/meshcentral/files:/opt/meshcentral/meshcentral-files
      - {{ control_base_dir }}/meshcentral/backups:/opt/meshcentral/meshcentral-backups
