{
  "settings": {
    "cert": "{{ control_fqdn }}",
    "port": 443,
    "redirPort": 80,
    "allowLoginToken": true,
    "allowedOrigin": ["{{ control_fqdn }}"],
    "plugins": { "enabled": false }
  },
  "domains": {
    "": {
      "title": "{{ meshcentral_title }}",
      "newAccounts": {{ meshcentral_new_accounts | to_json }},
      "amtManager": true,
      "authStrategies": {
        "oidc": {
          "issuer": "https://auth.{{ service_domain }}/application/o/meshcentral/",
          "clientid": "meshcentral",
          "clientsecret": "{{ secrets.authentik.meshcentral_oidc_client_secret }}",
          "newAccounts": true
        }
      }
    }
  }
}
