#cloud-config
hostname: ${hostname}
%{ if fqdn != "" }
fqdn: ${fqdn}
%{ endif }
users:
  - name: ${username}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users,admin
    shell: /bin/bash
    lock_passwd: false
    passwd: $6$rounds=4096$gJDlessiwfV5Gd5Y$XXOA1Bd0J1Pf5fJtqZ8khu7/WixTDvrdfHuuTqOryULcqffigBhvP6mcWOEwwfHVHNhelSCg1RmrPqUV/E.cv0
    ssh_authorized_keys:
      - ${ssh_key}
%{ if timezone != "" }
timezone: ${timezone}
%{ endif }
package_update: true
packages:
    - qemu-guest-agent
runcmd:
    - systemctl enable qemu-guest-agent
    - systemctl start qemu-guest-agent
    - echo "done" > /tmp/cloud-config.done