---
- External:
    - Cloudflare:
        - icon: cloudflare.svg
          href: https://dash.cloudflare.com
    - GitHub:
        - icon: github.svg
          href: https://github.com
    - Uptime Robot:
        - icon: si-uptimerobot
          href: https://uptimerobot.com/dashboard
    - Plex (External):
        - icon: plex.svg
          href: https://plex.clintflix.tv:32400/web
    - Requests (External):
        - icon: jellyseerr.svg
          href: https://request.clintflix.tv
    - Tautulli (External):
        - icon: tautulli.svg
          href: https://tautulli.clintflix.tv
