version = 1

[*]
{% for k, v in llm_llama_args.items() %}
{{ k }} = {{ v | string | lower if v is boolean else v }}
{% endfor %}

{% for m in [{'file': llm_model_file, 'args': llm_model_args, 'served': true}] + llm_bench_models %}
[{{ m.file | regex_replace('\.gguf$', '') }}]
model = {{ llm_models_dir }}/{{ m.file }}
load-on-startup = {{ (m.served | default(false)) | string | lower }}
{% for k, v in (m.args | default({})).items() %}
{{ k }} = {{ v | string | lower if v is boolean else v }}
{% endfor %}

{% endfor %}
