{{'{{'}}- with secret "{{ infisical_agent_project_id }}" "{{ infisical_agent_env_slug }}" "/mcp" {{'}}'}}
{{'{{'}}- $s := . {{'}}'}}
{
{% for name, tools in mcp_agents.items() %}
{{'{{'}}- range $s {{'}}'}}{{'{{'}} if eq .Key "gateway_token_{{ name }}" {{'}}'}}
  {{'{{'}} .Value | printf "%q" {{'}}'}}: {"name": "{{ name }}", "tools": {{ tools | to_json }}}{{ '' if loop.last else ',' }}
{{'{{'}}- end {{'}}'}}{{'{{'}} end {{'}}'}}
{% endfor %}
}
{{'{{'}}- end {{'}}'}}
