{{'{{'}}- with secret "{{ infisical_agent_project_id }}" "{{ infisical_agent_env_slug }}" "/mcp" {{'}}'}}
{{'{{'}}- range . {{'}}'}}
{{'{{'}}- if eq .Key "proxmox_token" {{'}}'}}
PROXMOX_PVE_TOKEN={{'{{'}} .Value {{'}}'}}
{{'{{'}}- else if eq .Key "openobserve_password" {{'}}'}}
OPENOBSERVE_PASSWORD={{'{{'}} .Value {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}}- with secret "{{ infisical_agent_project_id }}" "{{ infisical_agent_env_slug }}" "/plex" {{'}}'}}
{{'{{'}}- range . {{'}}'}}
{{'{{'}}- if eq .Key "plex_token" {{'}}'}}
PLEX_TOKEN={{'{{'}} .Value {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}}- with secret "{{ infisical_agent_project_id }}" "{{ infisical_agent_env_slug }}" "/llm" {{'}}'}}
{{'{{'}}- range . {{'}}'}}
{{'{{'}}- if eq .Key "llm_api_key_mcp" {{'}}'}}
CODE_INTEL_EMBED_API_KEY={{'{{'}} .Value {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}}- with secret "{{ infisical_agent_project_id }}" "{{ infisical_agent_env_slug }}" "/codeintel" {{'}}'}}
{{'{{'}}- range . {{'}}'}}
{{'{{'}}- if eq .Key "reader_password" {{'}}'}}
CODE_INTEL_PG_DSN=host=codeintel.{{ service_domain }} dbname=codeintel user=ci_reader password={{'{{'}} .Value {{'}}'}} sslmode=verify-full sslrootcert=system
{{'{{'}}- end {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}}- end {{'}}'}}
