# MinIO root password — rendered by Infisical Agent
{{'{{'}} with secret "{{ infisical_agent_project_id }}" "{{ infisical_agent_env_slug }}" "/minio" {{'}}'}}
{{'{{'}}- range . {{'}}'}}
{{'{{'}}- if eq .Key "minio_root_password" {{'}}'}}
MINIO_ROOT_PASSWORD={{'{{'}} .Value {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}} end {{'}}'}}
