# Monitoring stack secrets — rendered by Infisical Agent
{{'{{'}} with secret "{{ infisical_agent_project_id }}" "{{ infisical_agent_env_slug }}" "/monitoring" {{'}}'}}
{{'{{'}}- range . {{'}}'}}
{{'{{'}} .Key {{'}}'}}={{'{{'}} .Value {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}} end {{'}}'}}
