# PBS credentials — rendered by Infisical Agent
{{'{{'}} with secret "{{ infisical_agent_project_id }}" "{{ infisical_agent_env_slug }}" "/shared" {{'}}'}}
{{'{{'}}- range . {{'}}'}}
{{'{{'}}- if eq .Key "pbs_backup_token" {{'}}'}}
export PBS_PASSWORD="{{'{{'}} .Value {{'}}'}}"
{{'{{'}}- end {{'}}'}}
{{'{{'}}- if eq .Key "pbs_fingerprint" {{'}}'}}
export PBS_FINGERPRINT="{{'{{'}} .Value {{'}}'}}"
{{'{{'}}- end {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}} end {{'}}'}}
export PBS_REPOSITORY="{{ pbs_username }}!{{ pbs_token_name }}@{{ pbs_server_host }}:{{ pbs_datastore }}"
