# PBS credentials — rendered by Infisical Agent
{{'{{'}} with secret "{{ infisical_agent_project_id }}" "{{ infisical_agent_env_slug }}" "/shared" {{'}}'}}
{{'{{'}}- range . {{'}}'}}
{{'{{'}}- if eq .Key "pbs_backup_token" {{'}}'}}
PBS_PASSWORD={{'{{'}} .Value {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}}- if eq .Key "pbs_fingerprint" {{'}}'}}
PBS_FINGERPRINT={{'{{'}} .Value {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}} end {{'}}'}}
