# Seerr DB password — rendered by Infisical Agent
{{'{{'}} with secret "{{ infisical_agent_project_id }}" "{{ infisical_agent_env_slug }}" "/plex-services" {{'}}'}}
{{'{{'}}- range . {{'}}'}}
{{'{{'}}- if eq .Key "seerr_db_password" {{'}}'}}
DB_PASS={{'{{'}} .Value {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}} end {{'}}'}}
