# Plex-services secrets — rendered by Infisical Agent
{{'{{'}} with secret "{{ infisical_agent_project_id }}" "{{ infisical_agent_env_slug }}" "/plex-services" {{'}}'}}
{{'{{'}}- range . {{'}}'}}
{{'{{'}} .Key {{'}}'}}={{'{{'}} .Value {{'}}'}}
{{'{{'}}- end {{'}}'}}
{{'{{'}} end {{'}}'}}
