# {{ ansible_managed }}
GATEWAY_HOST=127.0.0.1
GATEWAY_PORT={{ mcp_port }}
GATEWAY_ALLOWED_HOSTS={{ mcp_fqdn }}
SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
UNIFI_BASE_URL=https://unifi.{{ service_domain }}:{{ mcp_unifi_port }}
UNIFI_VERIFY_TLS=true
PFSENSE_URL=https://pfsense.{{ service_domain }}
PFSENSE_VERIFY_TLS=true
PROXMOX_HOSTS=pve
PROXMOX_PVE_URL=https://pve.{{ service_domain }}:8006
PROXMOX_PVE_VERIFY_TLS=true
OPENOBSERVE_URL=https://openobserve.{{ service_domain }}
OPENOBSERVE_ORG=default
OPENOBSERVE_USER={{ mcp_openobserve_email }}
OPENOBSERVE_VERIFY_TLS=true
PLEX_URL=https://plex.{{ media_domain }}:32400
PLEX_VERIFY_TLS=true
CODE_INTEL_EMBED_URL=https://llm.{{ service_domain }}/llama/v1
CODE_INTEL_EMBED_MODEL={{ mcp_code_intel_embed_model }}
CODE_INTEL_UNITS_FILE={{ mcp_config_dir }}/units.json
