#cloud-config
hostname: ${hostname}
%{ if fqdn != "" }
fqdn: ${fqdn}
%{ endif }
users:
  - name: ${username}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users,admin
    shell: /bin/bash
%{ if password_hash != null && password_hash != "" }
    lock_passwd: false
    passwd: ${password_hash}
%{ endif }
    ssh_authorized_keys:
      - ${ssh_key}
%{ if timezone != "" }
timezone: ${timezone}
%{ endif }
package_update: true
packages:
    - qemu-guest-agent
runcmd:
    - systemctl enable qemu-guest-agent
    - systemctl start qemu-guest-agent
    - echo "done" > /tmp/cloud-config.done
