apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s

  - name: OpenObserve
    uid: openobserve
    type: prometheus
    access: proxy
    url: http://openobserve:5080/api/default/prometheus
    basicAuth: true
    basicAuthUser: {{ openobserve_root_user_email }}
    secureJsonData:
      basicAuthPassword: {{ openobserve_root_user_pass }}
    isDefault: false
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s
