{
    "dht-enabled": true,
    "idle-seeding-limit-enabled": false,
    "lpd-enabled": false,
    "pex-enabled": true,
    "ratio-limit-enabled": false,
    "rpc-authentication-required": false,
    "rpc-host-whitelist-enabled": false,
    "rpc-whitelist-enabled": false,
    "umask": "022",
    "utp-enabled": true
}
