#cloud-config
version: 2
ethernets:
%{ for iface in interfaces ~}
  ${iface.name}:
    match:
      macaddress: '${iface.macaddress}'
    set-name: ${iface.name}
    mtu: ${iface.mtu}
    dhcp4: ${iface.dhcp}
%{ if !iface.dhcp && iface.address != "" }
    addresses:
      - ${iface.address}/${iface.prefix}
%{ endif }
%{ if !iface.dhcp && iface.gateway != "" }
    gateway4: ${iface.gateway}
%{ endif }
%{ endfor }
